.contact {
  padding: 4rem 0;
  background: linear-gradient(to right, $color-primary-dark, $color-secondary-light);

  &__container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 $spacing-md;
    text-align: center;
  }

  &__title {
    @include section-title; // Uses defaults
  }

  &__form {
    max-width: 600px;
    margin: 0 auto;
    padding: $spacing-md;

    input,
    textarea {
      width: 100%;
      padding: $spacing-sm;
      border: none;
      border-radius: 4px;
      font-family: $font-primary;
      margin-bottom: $spacing-md;
    }

    textarea {
      min-height: 150px;
      resize: vertical;
    }

    button {
      background: $color-secondary-dark;
      color: $color-white;
      border: none;
      font-size: 1rem;
      padding: $spacing-sm $spacing-lg;
      border-radius: 60px;
      cursor: pointer;
      transition: background 0.3s;

      &:hover {
        background: darken($color-primary-light, 10%);
        border: 1px solid $color-secondary-light;
      }
    }
  }
}
